@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --achrom1: black;
    --achrom2: white;

    --main1: #FFB200;
    --main2: #5A2182;

    --border: #E1E1E1;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 124rem;
    margin: auto;
    padding: 0rem 2rem;
}


header{
    .row{
        padding: 2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;
    }
    .logo{
        svg{
            width: 18rem;
        }
    }
    nav ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        a{
            color: var(--achrom2);
        }
        .hamburger{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            height: 3.4rem;
            width: 3.4rem;
            background: var(--achrom2);
            border-radius: 20rem;
            .dot{
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 10rem;
                background: var(--main2);
                
            }
        }
    }
    .lang-currency-wrap{
        svg{
            width: 2.4rem;
        }
        display: flex;
        align-items: center;
        color: var(--achrom2);
        gap: 2rem;
        a:last-of-type{
            display: flex;
            align-items: center;
        }
    }
    .col:last-of-type{
        svg{
            width: 2.2rem;
            color: var(--achrom2);
            stroke-width: 0.2rem;
        }
    }
}

.hero-bg{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.hero-index{
    .text{
        margin-top: 10rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--main1);
        h1{
            margin-top: 0;
            font-weight: 900;
            font-size: 4.8rem;
        }
    }
}


form{
    select:not(.time-select){
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    padding: 2.6rem;
    font-size: 1.4rem;
    background: var(--achrom2);
    width: 106rem;
    margin: auto;
    border-radius: 2rem;
    .angle{
        width: 1.6rem;
        color: var(--achrom1);
    }
    .first-row{
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        .col:first-of-type{
            width: 90%;
        }
        .col:last-of-type{
            width: 10%;
        }
    }
    .second-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        .col{
            min-width: 100%;
        }
    }
    .input-wrap-2,.select-wrap,.selectbox{
        margin-top: 1rem;
    }
    .select-text{
        position: relative;
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--border);
        border-radius: 0.6rem;
        height: 4.4rem;
        align-items: center;
        .icon{
            display: flex;
        }
    }
    .select-text.active{
        z-index: 200;
        width:  calc(63.6rem + 1rem + 2.6rem);
        border-bottom: 0;
    }
    .input-wrap{
        display: flex;
        align-items: flex-end;
        .select-wrap,.input-wrap-2{
            min-width:50%;
            position: relative;
            .angle{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 0.4rem;
            }
        }
        
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0rem 1rem;
            background: none;
            border: none;
            border-bottom: 1px solid var(--border);
            border-right: 1px solid var(--border);
            border-top: 1px solid var(--border);
            border-top-right-radius: 0.6rem;
            border-bottom-right-radius: 0.6rem;
            height: 4.4rem;
            min-width: 100%;
        }
        input::after{
            content: 'hey';
        }
        
    }
    input[type="text"]{
        width: 100%;
        height: 4.4rem;
        border: 1px solid var(--border);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="submit"]{
        height: 4.4rem;
        width: 100%;
        background: var(--main2);
        border: none;
        color: var(--main1);
        font-weight: bold;
        font-size: 1.8rem;
    }
    input{
        border-radius: 0.6rem;
    }
    .select-text,input:not(input[type="submit"]){
        padding-left:  1rem;
        padding-right:  0.4rem;
    }
    .select-text,input,select{
        color: var(--main2);
        font-weight: bold;
    }
    .selectbox{
        position: relative;
    }
    .select{
        padding-top:  4.4rem;
        border: 1px solid var(--border);
        border-radius: 0.6rem;
        position: absolute;
        z-index: 2;
        top: 0;
        background: var(--achrom2);
        width:  calc(63.6rem + 1rem + 2.6rem);
        ul{
            position: relative;
        }
        li{
            display: flex;
        }
        a{
            color: var(--main2);
            font-weight: bold;
            margin: 0rem 1rem;
            margin-bottom: 0.4rem;
            padding: 0rem 1rem;
            width: 44%;
            height: 4rem;
            border-radius: 0.6rem;
            display: flex;
            align-items: center;
            transition: 0.3s ease-in-out;


        }
        .poslovnica-contact{
            position: absolute;
            top: 0;
            left: calc(50% + 2rem);
            opacity: 0;
            line-height: 1.5;
            h6{
                font-size: 1.6rem;
                margin-bottom: 0.4rem;
            }
            transition: 0.3s ease-in-out;
        }
        .poslovnica-contact::after{
            content: '';
            display: block;
            position: absolute;
            width: 0.1rem;
            height: 100%;
            background: var(--border);
            top: 0;
            left: -2rem;
        }

    }
    .select li a.active  {
        background: var(--main2);
        color: var(--achrom2);
    }
    .poslovnica-contact.active{
        opacity: 1;
    }
    .centar.active{
        svg{
            transform: scale(2) translateY(-0.6rem);
        }
    }
    .zrakoplov.active{
        svg{
            transform: scale(2) translateY(-0.6rem);
        }
    }
    .svg-wrap{
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        svg{
            width: 1rem;
            transform: scale(2) translateY(0.52rem);
            transition: transform 0.3s ease-in;

        }
    }
    .select1{
        display: none;
    }
    .select2{
        display: none;
    }
    .select.active{
        display: block;
    }

}
