@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --achro1: black;
    --achro2: white;

    --main1: #FFB200;
    --main2: #5A2182;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 124rem;
    margin: auto;
    padding: 0rem 2rem;
}


header{
    .row{
        padding: 2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;
    }
    .logo{
        svg{
            width: 18rem;
        }
    }
    nav ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        a{
            color: var(--achro2);
        }
        .hamburger{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            height: 3.4rem;
            width: 3.4rem;
            background: var(--achro2);
            border-radius: 20rem;
            .dot{
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 10rem;
                background: var(--main2);
                
            }
        }
    }
    .lang-currency-wrap{
        svg{
            width: 2.4rem;
        }
        display: flex;
        align-items: center;
        color: var(--achro2);
        gap: 2rem;
        a:last-of-type{
            display: flex;
            align-items: center;
        }
    }
    .col:last-of-type{
        svg{
            width: 2.2rem;
            color: var(--achro2);
            stroke-width: 0.2rem;
        }
    }
}

.hero-bg{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-index{
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--main1);
        h1{
            font-weight: 900;
            font-size: 4.8rem;
        }
    }
}


form{
    select{
        display: none;
    }
    .angle{
        width: 2rem;
    }
    background: white;
    border-radius: 2rem;
    .select{
        ul{
            display: none;
        }
    }
}